*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

/*menu*/

#check{
    display: none;
}

.btn_one{
    color: white;
    font-size: 25px;
    font-weight :700px;
    position:absolute;
    left:16px;
    line-height: 60px;
    cursor: pointer;
}

.sidebar_menu{
    position:fixed;
    left:-300px;
    height:100vh;
    width: 300px;
    transition: all 0.3s linear;
    background-color: rgba(87, 7, 116, 0.977);
    box-shadow: 0 0 6px rgba(2, 0, 0, 0.5);
}

.sidebar_menu .btn_two i{
    color: gray;
    font-size: 25px;
    font-weight :700px;
    position:absolute;
    left:270px;
    line-height: 60px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.btn_two i:hover{
    font-size: 30px;
}

.sidebar_menu .menu{
    position:absolute;
    width:100%;
    top:80px;
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding:14px 20px;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .menu i{
    padding-right: 8px;
}

.sidebar_menu .menu i,a{
    color:white;
    text-decoration: none;
}

.btn_one:hover{
    font-size: 30px;
}

#check:checked ~ .sidebar_menu{
    left:0;
}

#check:checked ~ .btn_one{
    opacity:1;
}

#check:checked ~ .sidebar_menu .btn_two{
    opacity:1;
}
/* BODY */

body{
    color: rgb(217, 186, 232);
    font-family: 'Poppins', sans-serif;
    background-color: rgb(45, 8, 63);
    line-height: 1.5;
}

h1{
    text-align: center;
    font-family: "Brush Script MT";
    letter-spacing: 0.1em;
    color: rgb(217, 186, 232);
}
.cards{
    padding:20px;
    border-radius: 1%;
    border-bottom: 2px solid white;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    height:300px;
    width:200px;
    margin: 30px;
    transition: all 0.3s linear;
}
.cards:hover{ 
    transform: scale3d(1.05, 1.05, 0.3);;
}
.heading{
    text-align: center;
    margin: 25px;
    text-decoration: underline;
}   

.hobby1{
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    
}
.top{
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    height:80%;
    background-color: azure;
}
.bottom{
    height:20%;
    margin: 10px;
    text-align: center;
    font-size:x-large;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
}
img{
    border: 1px solid white;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    height:240px;
    width: 198px;

}

@media(max-width:470px){
    h1{
        font-size: 18px;
        padding: 5px;
    }
    .btn_one{
        font-size: 18px;
        line-height: 40px;
    }
    .btn_one:hover{
        font-size: 25px;
    }
}

