<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit username</title>
</head>
<body>
    <h1>Edit Username</h1>
    <h3>You are Editing the user:<%= user.email %> </h3>
    <form method="post" action="/user/<%= user.id %>?_method=PATCH">
        <textarea name="username"> <%= user.username %> </textarea><br>
        Enter your Password : <input type="password" name="password"><br><br>
        <button>Edit</button>
    </form>
</body>
</html>