<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Message</title>
</head>
<body>
    <form method="post" action="/chats">
        <h2>Write Your Message</h2>
        Your Name:<input type="text" name="from"><br/><br/>
        <textarea rows="5" cols="30" name="msg">Type Your Message Here</textarea><br/><br/>
        Reciever's Name:<input type="text" name="to"><br/><br/>
        <button>Send</button><br/>
    </form>
    
</body>
</html>